[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = "*"
sqlalchemy = "*"
psycopg2-binary = "*"
passlib = "*"
bcrypt = "==4.0.1"
pyjwt = "*"
dotenv = "*"
alembic = "*"
reportlab = "*"
email-validator = "*"
pydantic = {extras = ["email"], version = "*"}

[dev-packages]
httpx = "*"
pytest = "*"

[requires]
